* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  padding-block: 15px;
  align-items: center;
}
.logo_text {
  font-size: 1.2rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.theme {
  display: flex;
}

input[type="search"] {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgb(89, 89, 89);
}
input[type="search"]::placeholder {
  font-size: 0.9rem;
  position: relative;
  left: 20px;
}
.searchIcon {
  position: relative;
  left: 1.6rem;
  top: 0.1rem;
}
