.container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  color: #333;
}

strong {
  color: #2563eb;
}
body {
  background: linear-gradient(to bottom, #faf5ff, #ffffff);
}
